<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Titulo de la tarjeta</ion-card-title>
      <ion-card-subtitle>1.20.51.30</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos consequuntur ad at distinctio veniam unde aperiam laudantium odit velit. Sequi libero suscipit cum dolores sapiente, expedita laboriosam voluptatum quia!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      This is content, without any paragraph or header tags, within an ion-card-content element.
    </ion-card-content>
  </ion-card>


  <ion-card>
      <ion-item color="primary">
          <ion-icon slot="start" name="pin-outline"></ion-icon>
          <ion-label>Awesome Label</ion-label>          
      </ion-item>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, at tempora! Soluta excepturi qui, aliquid accusamus voluptatem officia at blanditiis iste ipsum dicta, obcaecati dolorem vitae, pariatur cum eum atque.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <img src="https://sm.ign.com/t/ign_latam/articlepage/s/snake-wont-really-speak-much-at-all-in-metal-gear/snake-wont-really-speak-much-at-all-in-metal-gear_ef3y.1280.jpg" alt="">
      <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam blanditiis magni eum adipisci nobis perferendis fuga modi, praesentium voluptates, fugiat velit. Quia veniam, fuga ex excepturi labore est suscipit. Perspiciatis.
      </ion-card-content>
  </ion-card>
</ion-content>
